.info-page {
    height: 56.6rem
}

.info-card {
    margin: 1rem;
    width: 60rem;
    background-color: inherit;
    border-color: transparent
}

.info-card-title {
    font-weight: 400;
    margin-top: 2rem;
    color: rgb(223, 223, 223);
}

.info-card-text {
    margin-top: 1.5rem;
    transform: translateY(-0.5rem);
    font-weight: 400;
    color: rgb(177, 177, 177);
}

.info-card-form-item {
    background-color: inherit;
    border-color: gray;
    color: rgb(199, 197, 197);
}

.info-card-form-item:focus {
    background-color: inherit;
    border-color: gray;
    caret-color: gray;
    color: rgb(199, 197, 197);
}

.info-card-text-area {
    height: 10rem
}